<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.szemafor.plugins.movesense" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>MovesensePlugin</name>
  <js-module name="MovesensePlugin" src="www/MovesensePlugin.js">
    <clobbers target="cordova.plugins.MovesensePlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MovesensePlugin">
        <param name="android-package" value="com.szemafor.plugins.movesense.MovesensePlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
    <source-file src="src/android/MovesensePlugin.java" target-dir="src/com/szemafor/plugins/movesense/MovesensePlugin" />
    <lib-file src="libs/mdslib-1.44.0(1)-release.aar" />
    <source-file src="libs/mdslib-1.44.0(1)-release.aar" target-dir="libs" />
    <framework src="com.polidea.rxandroidble2:rxandroidble:1.11.1"/>
    <framework src="mds-link.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>